html {
  scroll-behavior: smooth;
}

.text-shadow {
  text-shadow: 1px 1px 25px #000000cc;
}

p {
  margin-bottom: 0!important;
}

.list-group-item {
  background-color: rgba(255, 255, 255, 0.9);
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255) 70%, rgba(255, 255, 255, 0.9) 90%);
}

#down-arrow {
  color: rgba(255, 255, 255, 0.5);
  transition: 0.5s;
}

#down-arrow:hover {
  color: white;
  transition: 0.5s;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}